html {
  direction: rtl;
}
#sidebar {
  min-width: 14rem;
  position: relative;
}
#sidebar.none {
  display: none !important;
}

.btn-icon-sidebar-none {
  position: absolute;
  right: calc(100% - 10px);
  top: 0px;
  z-index: 10;
  width: 10px;
  border-radius: 100%;
  color: #5e72e4;
  cursor: pointer;
  transform: translateX(100%);
}
.btn-icon-sidebar-on {
  background: #5e72e4;

  z-index: 100;
  margin-top: 30px;
  color: #fff;
  text-align: center;
  width: 40px;
  padding-top: 0.3rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  cursor: pointer;
}
.btn-icon-sidebar-on.none {
  display: none;
}
.nav-item a {
  color: #fff;
  padding: 0.7rem;
  margin: 0.3rem;
  display: block;
  border-radius: 0.2rem;
  transition: all 0.3s ease;
}
.nav-item a.active {
  background: #5e72e4;
}
.nav-item a:hover {
  background: #5e72e4;
}
table td a {
  display: block;
  height: 100%;
}

.nav-pills .nav-link:hover {
  color: #fff;
}

.nav-fill .nav-item {
  width: 150px;
  flex-grow: 0;
}

@media (max-width: 725px) {
  .tap-choise {
    justify-content: center;
  }
}

th {
  text-align: right;
}
.dataTables_info {
  display: none;
}
td {
  text-align: right;
}

.hide {
  display: none;
}

th {
  min-width: 60px !important;
}

.form-group {
  text-align: right;
}

.edit-table {
  width: 20px;
  height: 20px;
  margin-top: 7px;
  transition: all 0.15s ease;
  cursor: pointer;
  margin-left: 10px;
}
.remove-table {
  width: 20px;
  height: 20px;
  font-size: 30px;
  transition: all 0.15s ease;
  cursor: pointer;
}
.edit-table:hover {
  color: #5e72e4;
  transform: translateY(-1px);
}

.remove-table:hover {
  color: #f5365c;
  transform: translateY(-1px);
}
.bootstrap-datetimepicker-widget .list-unstyled {
  margin: 0;
  padding-right: 0 !important ;
}

.bootstrap-datetimepicker-widget table tr {
  width: 400px !important;
}
.bootstrap-datetimepicker-widget table td.day {
  padding-left: 10px !important;
  padding-right: 10px !important;
  width: 23px !important;

  margin: 0 !important;
  border-radius: 1rem !important ;
}
.bootstrap-datetimepicker-widget {
  position: absolute !important;
}

#travel-modal #modal .custom-toggle input.custom-toggle-slider {
  border: 1px solid #5e72e4!important;
}
